<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         cacheResultFile="./TestCache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="Tests">
            <directory suffix=".php">../src</directory>
        </testsuite>
    </testsuites>


    <coverage cacheDirectory="./TestCache/code-coverage"
              processUncoveredFiles="false">
        <include>
            <file >../src/Pattern/Pattern.php</file>

        </include>
    </coverage>
</phpunit>
